<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmsc436.msproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".curlTest.CurlMenu"
            android:label="@string/curlTestLabel">

            <intent-filter>
                <action android:name="edu.umd.cmsc436.flex.action.TRIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="edu.umd.cmsc436.flex.action.PRACTICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="edu.umd.cmsc436.flex.action.HELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="edu.umd.cmsc436.flex.action.HISTORY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>




        </activity>
        <activity
            android:name=".curlTest.CurlInstructions"
            android:label="@string/curlTestLabel" />
        <activity
            android:name=".curlTest.CurlTest"
            android:label="@string/curlTestLabel" />
        <activity
            android:name=".curlTest.CurlSelect"
            android:label="@string/curlTestLabel" />
        <activity
            android:name=".curlTest.CurlResults"
            android:label="@string/curlTestLabel" />
        <activity
            android:name=".curlTest.calibrate.CurlCalibrateMenu"
            android:label="@string/curlLabel" />
        <activity
            android:name=".curlTest.calibrate.CurlCalibrateInstructions"
            android:label="@string/curlLabel" />
        <activity
            android:name=".curlTest.calibrate.CurlCalibration"
            android:label="@string/curlLabel" />
        <activity
            android:name=".curlTest.calibrate.CurlCalibrateSelect"
            android:label="@string/curlLabel" />

    </application>

</manifest>